body {
  background-color: transparent;
}

.resync-item {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  line-height: 22px;
  padding: 0 12px;
  margin: 1px;
}
.resync-item:hover {
  background-color: var(--vscode-list-hoverBackground);
}
.highlight {
  outline: 1px solid var(--vscode-list-focusOutline);
  background-color: var(--vscode-list-activeSelectionBackground) !important;
}
